body {
  width: 85%;
  max-width: 1600px;
  margin: auto;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
nav .menu {
 font-family: "Inter";
  
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}
nav .logo img {
  width: 139px;
  margin: 16px 120px;
}
nav .menu {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
}
nav .menu a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 152%;
}
nav .menu li {
  margin: 24px 0px;
}

nav .btn {
  margin: 24px 120px;
  padding: 12.5px 16px;
  font-size: 16px;
  font-family: "Inter";
  font-weight: 600;
  color: #FFFFFF;
  background-color: #30b868;
  border-radius: 4px;
  border: none;
}

.hero-banner {
  background-image: url("../assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  height: 674px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  text-align: center;
  color: white;
  padding: 20px;
}

.content {
  max-width: 1360px;
}

.badge {
  border: none;
  width: 229px;
  font-family: sans-serif;
  color: #30b868;
  line-height: 100%;
  padding: 8px 12px;
  border-radius: 1000px;
  font-weight: 500;
  font-size: 16px;
}

h1 {
  width: 770px;
  font-size: 72px;
  font-weight: 700;
  font-family: "Inter";
  line-height: 84px;
  margin: 20px 0;
}

.highlight {
  color: #4ade80;
}

p {
  font-size: 18px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 30px;
}

.div-2 {
  display: flex;
  color: #30b868;
  gap: 10px;
  padding: 12px 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  justify-content: center;
}

.btn {
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
}

.btn-1 {
  background-color: #469165;
  font-family: "Inter";
  width: 251px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  padding: 12px 16px;
  border: none;
  color: white;
}

.btn-2 {
  width: 198px;
  border: 1px solid white;
  font-family: "Inter";
  background-color: rgba(255, 255, 255, 0.05);
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  padding: 12px 16px;
  border-radius: 4px;
}

.container {
  padding: 80px 20px;
  text-align: center;
}

.section-header h1 {
  width: 85%;
  max-width: 1600px;
  margin: 0 auto;
  font-size: 48px;
  font-weight: 700;
  font-weight: bold;
  font-family: "Inter";
  line-height: 100%;
  margin-bottom: 16px;
}

.section-header p {
  color: #627382;
  font-family: "Inter";
  font-weight: 400;
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 60px;
}

.card-wrapper {
  display: flex;
  border-radius: 8px;
  justify-content: center;
  gap: 24px;
}

.card {
  background: #fff;
  border: 1px solid #f3f4f6;
  border-radius: 12px;
  padding: 40px 25px;
  width: 260px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
  color: #001931;
  font-size: 24px;
  font-weight: 600;
  font-family: "Inter";
  line-height: 100%;
  margin-bottom: 16px;
}
.card p {
  color: #627382;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter";
}

.icon-circle {
  width: 60px;
  height: 60px;
  background-color: #ff5c5c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 25px;
}

.icon-circle img {
  width: 30px;
}

.solution-section {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: sans-serif;
}

.solution-container {
  width: 85%;
  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 120px;
  display: flex;
  align-items: center;
  gap: 60px;
}

.graphic-side {
  display: flex;
  justify-content: center;
  position: relative;
}
.graphic-side img {
  width: 600px;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.content-side {
  width: 700px;
}

.label {
  color: #30b868;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter";
  margin-bottom: 16px;
}

.content-side h1 {
  width: 600px;
  font-size: 48px;
  color: #001931;
  font-weight: 700;
  font-weight: bold;
  font-family: "Inter";
  margin-bottom: 16px;
  line-height: 100%;
}

.content-side p {
  color: #627382;
  font-weight: 400;
  font-family: "Inter";
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 30px;
}
.check-list {
  list-style: none;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter";
  font-weight: 500;
  padding: 0;
}

.check-list li {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 16px;
  line-height: 20px;
  color: #001931;
}

.last-section {
  padding: 80px 40px;

  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Inter";
  margin-bottom: 120px;
}

.last-container {
  width: 85%;
  border-radius: 12px;
  margin: 0 auto;
  background-color: #F7F6F2;
}

.last-section h1 {
  width: 85%;
  margin: 0 auto;
  padding: 80px 40px 10px 40px;
  max-width: 1600px;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  font-family: "Inter";
  color: #001931;
  margin-bottom: 16px;
}

.last-p {
  font-size: 16px;
  color: #64748b;
  line-height: 24px;
  font-weight: 400;
  font-family: "Inter";
  margin-bottom: 24px;
}

.last-a-1 {
  display: inline-flex;
  align-items: center;
  background-color: #30b868;
  color: white;
  text-decoration: none;
  padding: 12px 16px;
  font-size: 16px;
  font-family: "Inter";
  font-weight: 600;
  border-radius: 4px;
  margin-top: 16px;
}
.last-a-1 span {
  margin-left: 10px;
  color: #FFFFFF;
  font-size: 16px;
}

.last-p-3 {
  margin-top: 30px;
  font-weight: 400;
  font-family: "Inter";
  line-height: 20px;
  font-size: 16px;
  color: #627382;
}

.site-footer {
  background-color: #001931;
  padding: 60px 60px;
  font-family: "Inter";
}

.footer-container {
  width: 85%;
  max-width: 1600px;
  margin: 0 auto;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  margin-bottom: 80px;
  border-bottom: 1px solid #1e2f3e;
}

.logo-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-logo {
  width: 139px;
  height: auto;
}

.footer-socials {
  text-align: right;
}

.footer-socials p {
  font-size: 20px;
  font-weight: 500;
  font-family: "Inter";
  line-height: 28px;
  margin-bottom: 16px;
  color: #FFFFFF;
}

.social-icons {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.social-icons a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  font-weight: 400;
  font-family: "Inter";
  font-size: 16px;
  color: #FAFAFA;
}
